doctype html 
html
    head 
        title Protoflio 
        block style 
        block scripts




header.header
  a.logo(href='#') Portfolio
  i#menu-id.bx.bx-menu
  nav.navbar
    a(href='#home') Home
    a(href='#about') About
    a(href='#service') Service
    a(href='#portfolio') Portfolio
    a(href='#contact') Contact

footer.footer
  .footer-text
    p
      | Copyright &copy; 2023 by Sahil | All Right Reserved
  .footer-icon
    a(href='#home')
      i.bx.bx-up-arrow-alt
