
extends base.pug

block style 
    style 
        include ../static/style.css
        include https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css

block scripts 
    script 
        include ../static/script.js 
        include https://unpkg.com/scrollreveal
        include https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js



section#portfolio.Portfolio
  h2.heading
    | Latest 
    span Project
  .protofio-containor
    .protofolio-box
      img(src='./p1.jfif' alt='')
      .protoflio-layer
        h4 Search Engine by Medical Remendies
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus sit totam!
        a(href='#')
          i.bx.bx-link-external
    .protofolio-box
      img(src='./p2.png' alt='')
      .protoflio-layer
        h4 ATM Machine(C#)
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus sit totam!
        a(href='#')
          i.bx.bx-link-external
    .protofolio-box
      img(src='./p6.jfif' alt='')
      .protoflio-layer
        h4 Dance Project With Frontend and Backened
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus sit totam!
        a(href='#')
          i.bx.bx-link-external
    .protofolio-box
      img(src='./p4.png' alt='')
      .protoflio-layer
        h4 Tic Tac Toe Game
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus sit totam!
        a(href='#')
          i.bx.bx-link-external
    .protofolio-box
      img(src='./p5.jpg' alt='')
      .protoflio-layer
        h4 Tic Tac Toe Game
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus sit totam!
        a(href='#')
          i.bx.bx-link-external
