extends base.pug

block style 
    style 
        include ../static/style.css
        include https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css

block scripts 
    script 
        include ../static/script.js 
        include https://unpkg.com/scrollreveal
        include https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js


section#service.sevice
  h2.heading
    | Our 
    span Services
  .service-containor
    .service-box
      i.bx.bx-code-alt
      h3 Web Development
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum sit eveniet dolor tempore consectetur est dicta vitae laudantium voluptatibus cumque blanditiis, maxime minus labore atque provident magnam.
      a.btn(href='#') Read More
    .service-box
      i.bx.bxl-patreon
      h3 .NFT(C#) Developer
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum sit eveniet dolor tempore consectetur est dicta vitae laudantium voluptatibus cumque blanditiis, maxime minus labore atque provident magnam.
      a.btn(href='#') Read More
    .service-box
      i.bx.bxl-python
      h3 Data Science
      p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum sit eveniet dolor tempore consectetur est dicta vitae laudantium voluptatibus cumque blanditiis, maxime minus labore atque provident magnam.
      a.btn(href='#') Read More
